/* header section */
/* nav is started */
 .nav-style{
    display: flex;
    justify-content:space-between ;
    align-items: center; 
}
.sit-name{
    display: flex;
    gap: 10px;
} 
 .nav-anchor{
    display: flex;
    gap: 44px;  
} 
.nav-anchor a{
  text-decoration: none;
}
.home{
    color:#FF5400 ;
    font-size: 18px;
    font-weight: 700;
}
.blog {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
.sit-name h1{
    font-size:36px ;
    font-weight:800 ;
}
#first-color{
    color:#131318 ;
}
#second-color{
    color: #FF5400;
}
/* nav is ended */
/* banner is started */
.banner-section{
    padding-top:106px ;
    padding-bottom:106px ;
    width: 1170px;
    height: 500px;
    background-image:url('Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size:auto; 
    
}
.header{
    text-align: center;
}
.header-title {
    color: #FFF;
    font-size:64px ;
    font-weight:800 ;
 } /*white color ar jonno dekha jasce na  */
.header-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
/*white color ar jonno dekha jasce na  */
.button{
    display: flex;
    justify-content: center;
    gap:24px

}
#button-style{
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
     background: #FFF;
     font-size:16px ;
     font-weight:400 ;
     border: 0px;
     padding:16px 84px 16px 16px ;

}
#button-different-style{
    color:#FFF ;
    border-radius: 8px;
    background: #FF5400;
    font-size:16px ;
    font-weight:700 ;
    border: 0px;
    padding:16px 20px 16px 67px ;
}
/* finally banner is finished successfully */
/* Our Popular Tours */
.popular-tours {
    display: flex;
    gap: 53px;
    /* align-items: center; */
}
.tours-title{
    color: #131318;
    font-size: 40px;
    font-weight:800 ;
}
.tours-paragraph{
    color:rgba(19, 19, 24, 0.70) ;
    font-size:16px ;
    font-weight:400 ;
}
.read-more{
    color:#FFF ;
    font-size:20px ;
    font-weight:800 ;
    background-color:#FF5400 ;
    padding:13px 35px ;
    margin-top:32px ;
}
.popular-tours ul{
    margin-top:24px ;
    margin-bottom:24px ;
}
/* finally finish our popular tour  */
/* start choose distination  */
.destination-container{
    text-align: center;
}
.destination-container-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}
.destination-container-description{
    color:  rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.place-container {
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
 }
 .item1{
   grid-column: 1/span 6;
}
.item2{
    grid-column: 7/span 6;
}
.item3{
    grid-column: 1/span 3;
    grid-row: 2/span 1;
}
.item4{
    grid-column: 4/span 6;
    grid-row:2/span 1 ;
}
.item5{
    grid-column:10/span 3 ;
    grid-row:2/span 1 ;
}
.item6{
    grid-column: 1/span 4;
    grid-row: 3/span 1;
}
.item7 {
    grid-column:5/span 8 ;
    grid-row: 3/span 1;
}
.place-container img{
  width: 100%;
  height: 100%;
}
