*{
    padding: 0px;
    border: 0px;
    margin: auto;
}
 main{
    margin: auto;
} 
/* header section */
/* nav is started */
 .nav-style{
    display: flex;
    justify-content:space-between ;
    align-items: center; 
}
.sit-name{
    display: flex;
    gap: 10px;
    align-items: center;
} 
.sit-logo{
    width: 48px;
    height: 56px;
}
 .nav-anchor{
    display: flex;
    gap: 44px;  
} 
.nav-anchor a{
  text-decoration: none;
}
.home{
    color:#FF5400 ;
    font-size: 18px;
    font-weight: 700;
}
.blog {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
.sit-name h1{
    font-size:36px ;
    font-weight:800 ;
}
#first-color{
    color:#131318 ;
}
#second-color{
    color: #FF5400;
}
/* nav is ended */
/* banner is started */
.banner-section{
    padding-top:106px ;
    padding-bottom:106px ;
    width: 100%;
    height: 100%;
    background-image:url('Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size:auto; 
    
}
.header{
    text-align: center;
}
.header-title {
    color: #FFF;
    font-size:64px ;
    font-weight:800 ;
 } /*white color ar jonno dekha jasce na  */
.header-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
/*white color ar jonno dekha jasce na  */
.button{
    display: flex;
    justify-content: center;
    gap:24px

}
#button-style{
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
     background: #FFF;
     font-size:16px ;
     font-weight:400 ;
     border: 0px;
     padding:16px 84px 16px 16px ;

}
#button-different-style{
    color:#FFF ;
    border-radius: 8px;
    background: #FF5400;
    font-size:16px ;
    font-weight:700 ;
    border: 0px;
    padding:16px 20px 16px 67px ;
}
/* finally banner is finished successfully */
/* Our Popular Tours */
.popular-tours {
    display: flex;
    gap: 53px;
    margin-top:100px ;
    /* align-items: center; */
}
.tours-title{
    color: #131318;
    font-size: 40px;
    font-weight:800 ;
}
.tours-paragraph{
    color:rgba(19, 19, 24, 0.70) ;
    font-size:16px ;
    font-weight:400 ;
}
.read-more{
    color:#FFF ;
    font-size:20px ;
    font-weight:800 ;
    background-color:#FF5400 ;
    padding:13px 35px ;
    margin-top:32px ;
}
.popular-tours ul{
    margin-top:24px ;
    margin-bottom:24px ;
}
/* finally finish our popular tour  */
/* start choose distination  */
.destination-container{
    text-align: center;
}
.destination-container-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}
.destination-container-description{
    color:  rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.place-container {
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
 }
 
 .item1{
   grid-column: 1/span 6;
}
.item2{
    grid-column: 7/span 6;
}
.item3{
    grid-column: 1/span 3;
    grid-row: 2/span 1;
}
.item4{
    grid-column: 4/span 6;
    grid-row:2/span 1 ;
}
.item5{
    grid-column:10/span 3 ;
    grid-row:2/span 1 ;
}
.item6{
    grid-column: 1/span 4;
    grid-row: 3/span 1;
}
.item7 {
    grid-column:5/span 8 ;
    grid-row: 3/span 1;
}
.place-container img{
  width: 100%;
  height: 100%;
}
/* end  choose distination  */
/* Why choose us starting */
.article-container{
    text-align: center;
    margin-top: 100px;
    margin-bottom:48px ;
}
.article-container-title{
    color:#131318 ;
    font-size:40px ;
    font-weight: 800;
}
.article-container-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.facility-container{
    display: grid;
    gap: 24px;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(2,1fr);
}

.facility-container-hotal{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding:32px 55px 32px 32px ;
}
.facility-container-map{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding:32px 55px 32px 32px ;
}
.facility-container-best {
    grid-column: 4/span 6;
    grid-row:2/span 1 ;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding:32px 55px 32px 32px ;
}
.images{
    width: 64px;
    height: 64px;
}
.facility-title{
    color:#131318 ;
    font: size 24px; 
    font-weight: 800;
}
.facility-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
/*  */
/*  */
.bangladesh-container{
    display: flex;
    gap: 28px;
    margin-top: 100px;
    margin-bottom:100px ;
    width:100% ;
   
}
.mount-image{
    color:#FFF ;
    text-align: center;
    background-image:url('Images/Group 40089.png') ;
    background-repeat: no-repeat;
    width: 48%;
    height: 100%;
    border-radius: 16px;
     background: (180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
     padding:176px 167px ;
     
}
.bangladesh-container-des{
    width: 48%;
    height: 100%;
}
.bangladesh-container-description{
    color: #131318;
    font-size: 16px;
    font-weight:700 ;
}
/* Why choose us end */
/* newsletter starting */
.newsletter-part{
   background-color: #FFF; 
}
.newsletter-description{
    text-align: center;
}
.input-item{
    display: block;
    gap: 24px;
    width: 48%;
    background-color: #fff;
}
.input-text, .input-email {
    color:rgba(19, 19, 24, 0.30) ;
 border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 16px 250px 16px 20px;

}
.subscribe{
    color: #FFF;
    background-color: #FF5400 ;
    border-radius: 8px;
    padding: 16px 250px 16px 20px;
}
/* newsletter starting */
.newsletter-image{
    display: flex;
    gap:24px ;
   
}

    
 
.side-image{
    width: 48%;
    position: relative;
}
.new-style{
    background-color: #FF5400;
    position: absolute;
    bottom:40px ;
    right:5px ;

}


/* footer section */

   
 footer{
    text-align: center;
    background-color:rgba(19, 19, 24, 0.05) ;
  
   padding:110px ; 
 }  
.footer-name{
    display: inline-flex;
    gap: 16px;
   align-items: center;
  
}
.awasome-icon{
    display: inline-flex;
    gap: 20px;
    align-items: center;
}



/* mobile @media quary */
@media screen  and (max-width:576px) {
    .nav-style{
       flex-direction: column;
    }
    .nav-anchor{
        flex-direction: column;
    }
    .button{
        flex-direction: column;
    }
    .banner-section{
        width: 100%;
    }
    .popular-tours{
        flex-direction: column;
        width: 100%;
    }
    .place-container{
        display: block;
        }
    .facility-container{
        display: block;
         
    }
     
    .bangladesh-container{
        flex-direction: column;
        width: 100%;
    }
    .newsletter-image{
        flex-direction: column;
        width: 100%;
    }
    footer{
        width: 100%;
    }
    
}